apiVersion: v1
kind: PersistentVolume
metadata:
  name: postgres-pv
  namespace: notes-universitaires
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: standard
  hostPath:
    path: /mnt/data/postgres